* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  max-height: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-family: 'Rubik Puddles', Impact, sans-serif;
  font-size: 48px;
  margin: 15px auto;
}

#left, #right {
  width: 20%;
  text-align: center;
}

#left {
  margin-left: 5%;
}

#center {
  width: 50%;
  height: 100%;
}

#right {
  margin-right: 5%
}

#main-container, #next-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

#main-grid, #next-grid {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid lightblue;
}

#main-grid div, #next-grid div {
  border: .5px solid lightgray;
  border-radius: 2px;
}

#main-grid {
  width: calc(25px * 10);
  height: calc(25px * 20);
}

#main-grid div {
  width: calc(100% / 10);
  height: calc(100% / 20);
}

#next-grid {
  width: calc(25px * 4);
  height: calc(25px * 3);
}

#next-grid div {
  width: calc(100% / 4);
  height: calc(100% / 3);
}

.o-active {
  background-color: #FF6663;
}

.l-active {
  background-color: #FEB144;
}

.j-active {
  background-color: #FDFD97;
}

.t-active {
  background-color: #9EE09E;
}

.z-active {
  background-color: #9EC1CF;
}

.s-active {
  background-color: #af99cc;
}

.i-active {
  background-color: #CC99C9;
}

.o-paused {
  background-color: #C23B23;
}

.l-paused {
  background-color: #F39A27;
}

.j-paused {
  background-color: #EADA52;
}

.t-paused {
  background-color: #03C03C;
}

.z-paused {
  background-color: #579ABE;
}

.s-paused {
  background-color: #976ED7;
}

.i-paused {
  background-color: rgb(176, 153, 204);
}