* {
  box-sizing: border-box;
}

body {
  background-color: #f8f7ff;
  background-image: url('../media/daisy-background.jpeg');
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  max-height: 100vw;
  cursor: crosshair;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  color: #4c4c4c
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  background-color: rgba(265,265,265,0.5);
  width: 225px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 48px;
  margin: 20px auto;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: #f4b5ca;
  text-shadow: 5px 5px #fff;
}

h2 {
  margin-top: 30px;
}

h3, h4 {
  margin: 15px auto;
}

#left, #right {
  margin: 15px;
  width: 15%;
  text-align: center;
  background-color: rgba(265,265,265,0.85);
  border: 1px lightblue;
}

#left {
  margin-left: 5%;
  margin-right: 2.5%;
  border-radius: 15px 0 15px 0;
}

#center {
  width: 50%;
  height: 100%;
}

#right {
  margin-right: 5%;
  margin-left: 2.5%;
  border-radius: 0 15px 0 15px;
}

#stats {
  width: 75%;
  margin: 15px auto;
  padding: 5px 0;
  background-color: rgba(265,265,265,1);
}

#main-container, #next-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

#main-grid, #next-grid {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

#main-grid div, #next-grid div {
  border: .5px solid rgb(231, 231, 231);
  border-radius: 2px;
}

#main-grid {
  border: 5px ridge rgba(245,201,216, 0.15);
  width: calc(25px * 10);
  height: calc(25px * 20);
  border: 1px dotted lightblue;
}

#main-grid div {
  width: calc(100% / 10);
  height: calc(100% / 20);
}

#next-grid {
  width: calc(25px * 4);
  height: calc(25px * 3);
}

#next-grid div {
  width: calc(100% / 4);
  height: calc(100% / 3);
}

#buttons {
  margin: 30px auto;
}

button {
  display: block;
  color: #fff;
  background: #A6A0DE;
  border: 5px ridge #9a92d9;
  border-radius: 10px;
  width: 95px;
  height: 50px;
  margin: 15px auto;
  font-family: 'Fredoka One';
  font-size: 18px;
  box-shadow: 5px 5px #4e478b;
}

button:active {
  transform: translateY(2px);
  box-shadow: 3px 3px #4e478b;
}

button:hover {
  cursor: crosshair;
  animation-name: button-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: background 2s;
  background: #CA8799;
}

@keyframes button-bounce {
  33% {font-size: 18px;}
  66% {font-size: 20px;}
  99% {font-size: 18px;}
}

.o-active {
  background-color: #e5c3cc;
}

.o-paused {
  background-color: #ca8799;
}

.l-active {
  background-color: #e9daef;
}

.l-paused {
  background-color: #d3b4de;
}

.j-active {
  background-color: #f5c9d8;
}

.j-paused {
  background-color: #ec92b2;
}

.t-active {
  background-color: #d3d0ee;
}

.t-paused {
  background-color: #a6a0de;
}

.z-active {
  background-color: #f0e8f3;
}

.z-paused {
  background-color: #e1d1e6;
}

.s-active {
  background-color: #c4aece;
}

.s-paused {
  background-color: #885f9b;
}

.i-active {
  background-color: #d3c7e3;
}

.i-paused {
  background-color: #a88ec7;
}

#main-grid div[class*="-"], #next-grid div[class*="-"] {
  border: 1px outset white;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 15% auto;
  width: 55%;
  text-align: center;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  margin-top: -18px;
  font-size: 50px;
  font-weight: bold;
}

.modal-close:hover, .modal-close:active {
  color: #3e3e3e
}

.gif {
  width: 50%;
  margin: 25px auto;
  border: 1px dotted pink;
  border-radius: 15px;
  background-color: white;
}

.music {
  height: 35px;
  margin: 25px auto;
}

.music:hover {
  animation-name: music-button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes music-button {
  0% {height: 35px;}
  50% {height: 30px;}
  100% {height: 35px;}
}